@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    /* background-color:rgb(3, 205, 57); */
}
nav{
    height: 90px;
    width: 100%;
    background-color: #6a994e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .logo{
    margin: 20px 30px;
    padding: 10px;
    color:black;
    font-size: 1.2rem;
}
nav .search-box{
    /* padding: 2px 10px; */
    display: flex;
    margin: 10px 20px;
}
.search-box input{
    height: 50px;
    width: 190px;
    padding: 2px 5px;
    margin: 10px;
    border:none;    
}
.search-box input::placeholder{
 font-size: 1rem;
}
.search-box .btn{
    height: 45px;
    width: 75px;
    margin: 12px 0.5px;
    border: none;
    background-color: yellow;
    cursor: pointer;
}
.search-box .btn:hover{
    background-color: rgb(156, 156, 53);
}
/* Main mopvie section */
main{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #aa7c22; */
}
main section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 20px 30px;
}
/* footer sect
 */
footer{
    text-align: center;
    background-color:#6a994e;
    color:black;
    padding:20px;
}
footer p{
    text-align: center;
    font-size: 1.4rem;
}
.card{
    margin-top: 45px;
}
.movieCard{
    display: flex;
    background-color: white;
    padding: 22px;
    width: 1000px;
    margin: auto;
    gap: 22px;
    border-radius: 5px;
}
.movieCard h1{
    text-align: center;
    color: rgba(0, 0, 0, 0.838);
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 3px;
}
.movieCard .rating{
    margin: 3px;
}
.movieCard p{
    margin-top: 22px;
}
.movieCard a{
    text-decoration: none;
    color: red;
    font-size: 1.2rem;
    /* margin: 10px; */
}
.movieCard span{
    color: rgb(104, 77, 77);
}
.cardText{
    margin-top: 23px;
    padding: 10px 50px;
}
.card h1{
    text-align: center;
    font-size: 2rem;
}